<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>Tri Solutions</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/static/css/fontawesome.css">
  <link rel="stylesheet" href="/static/css/templatemo-space-dynamic.css">
  <link rel="stylesheet" href="/static/css/animated.css">
  <link rel="stylesheet" href="/static/css/owl.css">

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <h4>Tri<span>Solutions</span></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About Us</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Portfolio</a></li>
              <!--  <li class="scroll-to-section"><a href="#blog">Blog</a></li> -->
              <li class="scroll-to-section"><a href="#contact">Message Us</a></li>
              <li class="scroll-to-section">
                <div class="main-red-button"><a href="#contact">Contact Now</a></div>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h6>Welcome to Tri Solutions</h6>
                <h2>Need assistance in <em>Digital Marketing </em> <span>needs?</span></h2>
                <p>
                  <b>“</b><i>Content is fire; social media is gasoline.</i><b>”</b>
                  <strong><i> Jay Baer</i></strong>
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="/static/images/banner-right-image.png" alt="team meeting">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <img src="/static/images/about-left-image.png" alt="person graphic">
          </div>
        </div>
        <div class="col-lg-8 align-self-center">
          <div class="services">
            <div class="container-flex">
              <div class="container-flex">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">

                  <div class="right-text" style="text-align: center;">
                    <h4 style="font-size: 25px;">We're designers, developers, marketers, advertisers and awkward
                      dancers.</h4>
                    <p>We have over a decade of experience in the creative industry, producing exciting experiences for
                      brands and companies that are as smart, as they are effective. Think of us as more of a creative
                      partner than a resource. This means we have shared perspective on how we can work together to
                      achieve your goals. Basically, your new BFF.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="left-image">
            <img src="/static/images/services-left-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">

          <div class="section-heading mb-4">
            <h2>See What Our Agency <em>Offers </em> &amp; What We <span>Provide</span></h2>
          </div>

          <div class="row">

            <div class="col-lg-12">
              <div class="fourth-bar progress-skill-bar">
                <a href="#contact">
                  <h4>Web Development</h4>
                </a>
                <div class="filled-bar"></div>
                <div class="full-bar"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="second-bar progress-skill-bar">
                <a href="#contact">
                  <h4>Search Engine Optimisation (SEO)</h4>
                </a>
                <div class="filled-bar"></div>
                <div class="full-bar"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="fifth-bar progress-skill-bar">
                <a href="#contact">
                  <h4>Email Marketing</h4>
                </a>
                <div class="filled-bar"></div>
                <div class="full-bar"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="sixth-bar progress-skill-bar">
                <a href="#contact">
                  <h4>Google Advertising</h4>
                </a>
                <div class="filled-bar"></div>
                <div class="full-bar"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="first-bar progress-skill-bar">
                <a href="#contact">
                  <h4>Social Media Marketing & Managment</h4>
                </a>
                <div class="filled-bar"></div>
                <div class="full-bar"></div>
              </div>
            </div>


            <div class="col-lg-12">
              <div class="third-bar progress-skill-bar">
                <a href="#contact">
                  <h4>Social Media Advertising</h4>
                </a>
                <div class="filled-bar"></div>
                <div class="full-bar"></div>
              </div>
            </div>

          </div>

          <div class="section-heading">

            <h2 style="text-align: center;">How we do it.</h2>
            <p style="margin-bottom:18px;">
              Our team of enthusiasts have innovative solutions to every problem that you may have. We have experts
              from every fiels so that you do not have to go anywhere while we work on your project.</br>
              We have a set of working tactics that we have gathered from years of experience in the industry. We will
              apply these tactics to your business and help you generate excellent leads.
            </p>
            <p>

              <b style="font-size:35px">.</b> Understand: Our starting point is you. Our team spends time getting to
              know your business and challenges to tackle them.</br>
              <b style="font-size:35px">.</b> Plan: We listen then we create. we explore different approaches to fulfill
              your needs and get best resuts.</br>
              <b style="font-size:35px">.</b> Deliver: Our experts work collaberatly bringing experience from various
              fields to your project.</br>
              <b style="font-size:35px">.</b> Evaluate: We prioritise measurable results and will report, analyse, test,
              assess, tweak and develop continuously.</br>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2><em>Case</em><span>Studies</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <a href="https://www.google.com">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="hidden-content">
                <h4>Google</h4>
                <p>Google company</p>
              </div>
              <div class="showed-content">
                <img src="/static/images/googlelogo.png" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="https://outfitters.com.pk">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="hidden-content">
                <h4>Outfitters</h4>
                <p>Shopping store</p>
              </div>
              <div class="showed-content" style="height: 200px;">
                <img src="/static/images/outfitterslogo.png" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="https://pypi.org">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="hidden-content">
                <h4>PYPI</h4>
                <p>Python package management company</p>
              </div>
              <div class="showed-content" style="height: 200px;">
                <img src="/static/images/pypilogo.png" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="https://bahriatown.com">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                <h4>Bahria Town</h4>
                <p>Construction company</p>
              </div>
              <div class="showed-content" style="height: 200px;">
                <img src="/static/images/behrialogo.png" alt="">
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-sm-6 my-5">
          <a href="https://www.shiseido.com">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                <h4>Shiseido</h4>
                <p>Cosmetic company</p>
              </div>
              <div class="showed-content" style="height: 200px;">
                <img src="/static/images/shilogo.png" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 my-5">
          <a href="https://www.etsy.com">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                <h4>Etsy</h4>
                <p>Online furniture store</p>
              </div>
              <div class="showed-content" style="height: 200px;">
                <img src="/static/images/etsylogo.png" alt="">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Check Out What Is <em>Trending</em> In Our Latest <span>News</span></h2>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="top-dec">
            <img src="/static/images/blog-dec.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a href="#"><img src="/static/images/big-blog-thumb.jpg" alt="Workspace Desktop"></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> 24 Mar 2021</li>
                  <li><i class="fa fa-users"></i> TemplateMo</li>
                  <li><i class="fa fa-folder"></i> Branding</li>
                </ul>
                <a href="#">
                  <h4>SEO Agency &amp; Digital Marketing</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur and sed doer ket eismod tempor incididunt ut labore et dolore
                  magna...</p>
                <div class="main-blue-button">
                  <a href="#">Discover More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="right-list">
            <ul>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 18 Mar 2021</span>
                  <a href="#">
                    <h4>New Websites &amp; Backlinks</h4>
                  </a>
                  <p>Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="/static/images/blog-thumb-01.jpg" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 14 Mar 2021</span>
                  <a href="#">
                    <h4>SEO Analysis &amp; Content Ideas</h4>
                  </a>
                  <p>Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="/static/images/blog-thumb-01.jpg" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 06 Mar 2021</span>
                  <a href="#">
                    <h4>SEO Tips &amp; Digital Marketing</h4>
                  </a>
                  <p>Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="/static/images/blog-thumb-01.jpg" alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Feel Free To Send Us a Message About Your Needs</h2>
            <style>
              a:link {
                color: white;
              }

              a:visited {
                color: darkred;
              }

              a:hover {
                color: indigo;
              }

              a:active {
                color: black;
              }
            </style>

            <p>
              <a href="https://www.facebook.com/TriSolutionsCo/"> <span><i class="fa fa-facebook-square"></i>
                  Faceboook</a>
              <a href="https://www.instagram.com/trisolutionsco/"><span style="margin-left:65px;"><i
                    class="fa fa-instagram"></i> Instagram</a>
            </p>

            <p>
              <a href="mailto:trisolutionsco@gmail.com">
                <span><i class="fa fa-send-o"></i> trisolutionsco@gmail.com</a>
            </p>

            <div class="phone-info">

              <h4>For any enquiry, Call Us: <span><i class="fa fa-phone"></i> <a
                    href="#contact">+1xxxxxxxxxxx</a></span></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            {% csrf_token %}
            {{ form }}

            <input type="hidden" name="next" value="{{ request.path }}">
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email"
                    required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="Message"
                    required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button ">Send Message</button>
                </fieldset>
              </div>
            </div>
            <div class="contact-dec">
              <img src="/static/images/contact-decoration.png" alt="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <p>© Copyright 2022 Tri Solutions Co. All Rights Reserved.

        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/owl-carousel.js"></script>
  <script src="/static/js/animation.js"></script>
  <script src="/static/js/imagesloaded.js"></script>
  <script src="/static/js/templatemo-custom.js"></script>

</body>

</html>